#ptop {
    background-color: #18181d;
    padding: 15px;
}

#pmiddle {
    background-color: red;
    height:425px;
}

#pbottom {
    background-color: green;
    padding: 15px;
}

.pmidtext {
    padding: 15px;
    width: 55%;
    text-align:justify;
}

/*.pmidphoto {

}*/

.pphoto {
    float: right;
    margin-top: -445px;
}

.ptopleft {
    color:white;

}
